{% extends "layout.html" %}
{%  block content %}
    <div class="content-section">
        <legend class="border-bottom mb-4">News</legend>
        <div class="list-group-item">
            <h6>- 뉴스 제목 -</h6>
            <div>{{ news.title }}</div>
        </div>
        <div class="list-group-item">
            <h6>- 뉴스 내용 -</h6>
            <div>{{ news.contents }}</div>
        </div>
    </div>
    <div class="content-section">
        <legend class="border-bottom mb-4">Comment</legend>

        <div class="list-group-item">
            <h6>- 댓글 ID -</h6>
            <div>{{ comment.commentno }}</div>
        </div>
        <div class="list-group-item">
            <h6>- 댓글 내용 -</h6>
            <div>{{ comment.contents }}</div>
        </div>
    </div>
    <div class="content-section">
        <legend class="border-bottom mb-4">Manual Coding</legend>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.etc.label(class="form-control-label") }}

                    {% if form.etc.errors %}
                        {{ form.etc(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.etc.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.etc(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.correlation(class="form-check-input") }}
                    {{ form.correlation.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
