{% extends "layout.html" %}
{%  block content %}
    <div class="content-section">
        <legend class="border-bottom mb-4">News</legend>

        <div class="list-group-item">
            <h6>- Comment Info -</h6>
            <div>
                <ol>
                    <li>contents</li>
                    <li>commentno</li>
                    <li>useridno</li>
                    <li>userid</li>
                    <li>regtime</li>
                    <li>modtime</li>
                    <li>sympathycount</li>
                    <li>best</li>
                    <li>antipathycount</li>
                    <li>aid</li>
                    <li>oid</li>
                    <li>parentcommentno</li>
                    <li>modtimegmt</li>
                    <li>regtimegmt</li>
                    <li>blind</li>
                    <li>expose</li>
                    <li>visible</li>
                    <li>secret</li>
                    <li>anonymous</li>
                    <li>deleted</li>
                    <li>blindreport</li>
                    <li>mentions</li>
                    <li>middleblindreport</li>
                    <li>replylevel</li>
                    <li>replycount</li>
                    <li>replyallcount</li>
                    <li>idprovider</li>
                    <li>idtype</li>
                    <li>bool_manual</li>
                </ol>
                <div>metadata deleted</div>
            </div>
        </div>
        <div class="list-group-item">
            <h6>- News Info -</h6>
            <div>
                <ol>
                    <li>title</li>
                    <li>oid</li>
                    <li>aid</li>
                    <li>sid1</li>
                    <li>summary</li>
                    <li>officename</li>
                    <li>sid2</li>
                    <li>total_cnt</li>
                    <li>comment_cnt</li>
                    <li>reply_cnt</li>
                    <li>woman_rate</li>
                    <li>man_rate</li>
                    <li>teens_rate</li>
                    <li>twenties_rate</li>
                    <li>thirties_rate</li>
                    <li>forties_rate</li>
                    <li>fifties_rate</li>
                    <li>regtime</li>
                    <li>modtime</li>
                    <li>like_cnt</li>
                    <li>warm_cnt</li>
                    <li>sad_cnt</li>
                    <li>angry_cnt</li>
                    <li>want_cnt</li>
                    <li>contents</li>
                    <li>simple_dt</li>
                    <li>recommendmain_cnt</li>
                    <li>deletedcomment_cnt</li>
                    <li>violaterule_cnt</li>
                    <li>blindcomment_cnt</li>
                    <li>blindreply_cnt</li>
                </ol>
                <div>metadata deleted</div>
            </div>
        </div>
    </div>
{% endblock content %}
